bower_components

node_modules
npm-debug.log

.sass-cache
scss/.sass-cache

dist

venv
*.pyc

.*~
*.*~

*.pid

*.gz.js
*.gz.css

*.bak

tags
TAGS

tmp

.DS_Store

_trial_temp*

workspace.xml
dump.rdb
.idea/*
.pycharm
.coverage
#CHANGES#
.#CHANGES#
PYSMELLTAGS
.bundle
.projectile
